@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-weight: 700;
  font-size: 64px;
}
h2 {
  font-weight: 700;
  font-size: 40px;
}
h3 {
  font-weight: 500;
  font-size: 32px;
}
h4 {
  font-weight: 500;
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 20px;
}
body,
button {
  font-size: 20px;
}
caption {
  font-weight: 300;
  font-size: 16px;
}
