@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-weight: 700;
        font-size: 64px;
        line-height: 75px;
        color: #23385e;
    }
    h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        color: #23385e;
    }
    h3 {
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        color: #23385e;
    }
    h4 {
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        color: #23385e;
    }
    h5 {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #23385e;
    }
    h6 {
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #23385e;
    }
    body {
        font-weight: 400;
        font-size: 20px;
        color: #23385e;
    }
    button {
        font-weight: 500;
        font-size: 20px;
    }
    caption {
        font-weight: 300;
        font-size: 16px;
    }
    p {
        @apply text-Mblue-300;
    }
    span {
        color: #23385e;
    }
}

.glass {
    background: linear-gradient(
        151.16deg,
        rgba(225, 225, 225, 0.264) 1.11%,
        rgba(255, 255, 255, 0.8) 98.42%
    );
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: 1px solid #fff;
}
li[data-active='true'] {
    @apply bg-Mblue;
}

.missionBtn[data-disabled='true'] {
    pointer-events: none;
    @apply bg-Mgray shadow-none;
}
.flex-center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-board {
    width: 1280px;
    height: 640px;
    padding: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.board {
    position: relative;
    width: 1280px;
    height: 640px;
    padding: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.board-type-p0 {
    position: relative;
    width: 1280px;
    height: 640px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

.bg1 {
    background-image: url(../src/assets//image//background/background-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2 {
    background-image: url(../src/assets//image//background/background-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg3 {
    background-image: url(../src/assets//image//background/background-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@layer components {
    .drag-wrapper {
        @apply relative w-[378px] h-[64px] flex justify-center items-center gap-3 rounded-lg cursor-pointer;
    }
    .drag-point {
        @apply leading-[64px] text-white inline-block  absolute -left-[74px] w-[64px] h-[64px] rounded-xl;
    }
    .main-border-wrapper {
        @apply border border-[#AAAAAA] rounded-xl w-[1220px] h-[491px] ;
    }
}
#drag {
    display: flex;
    gap: 8px;
    &:hover {
        filter: drop-shadow(0px 6px 0px #23385e);
    }
    & p,
    span {
        color: white;
    }
    &img {
        display: inline-block;
        width: 48px;
    }
}

.drag-wrapper-meat {
    @apply drag-wrapper bg-Fbrown active:bg-Fbrown-200;
}
.drag-wrapper-cheese {
    @apply drag-wrapper bg-Fyellow active:bg-Fyellow-200 text-white;
}
.drag-wrapper-salad {
    @apply drag-wrapper bg-Fgreen active:bg-Fgreen-200 text-white;
}
.drag-wrapper-tomato {
    @apply drag-wrapper bg-Fred active:bg-Fred-200 text-white;
}

.drag-border {
    width: 378px;
    height: 64px;
    border: 1px dashed #aaaaaa;
    border-radius: 8px;
}
.arrows-pointing-out {
    position: absolute;
    left: 6px;
    top: 6px;
    transform: rotate(-45deg);
}
.footer {
    height: 69px;
    text-align: left;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    img {
        width: 54.7px;
    }
    &-text {
        background-color: white;
        border-radius: 12px;
        padding: 16px 20px;
    }
}
.dialogue-wrapper {
    text-align: left;
    background-color: white;
    padding: 40px;
    border-radius: 12px;
}
